@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f2f2f2;
}

.container {
  max-width: 950px;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1.5rem;
  margin: 0 1rem;
}

.mid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  margin: 0 1rem;
}

.card {
  background-color: white;
  border-radius: 12px;
  padding: 1rem;
}

img {
  max-width: 100%;
}

.profile {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 270px;
}

@media (max-width: 500px) {
  .profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 550px;
    max-width: 320px;
  }
}

.profile .img-div {
  height: 100%;
  width: 300px;
  min-width: 200px;
}

@media (max-width: 500px) {
  .profile .img-div {
    height: 55%;
    width: 100%;
  }
}

.profile .img-div img {
  height: 100%;
  border-radius: 0.8rem;
}

@media (max-width: 500px) {
  .profile .img-div img {
    width: 100%;
  }
}

.profile .text-div {
  margin-left: 1rem;
}

@media (max-width: 500px) {
  .profile .text-div {
    margin-top: 1rem;
    margin-left: 0rem;
  }
}

.profile .text-div .name-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 720px) {
  .profile .text-div .name-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.profile .text-div .name-contact .name-role h1 {
  font-size: 1.5rem;
  color: #4f4f4f;
}

.profile .text-div .name-contact .name-role p {
  font-size: 1.125rem;
  color: #828282;
}

@media (max-width: 720px) {
  .profile .text-div .name-contact .contact {
    margin-top: 1rem;
  }
}

.profile .text-div .email,
.profile .text-div .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.profile .text-div .email svg,
.profile .text-div .phone svg {
  color: #4f4f4f;
}

.profile .text-div .email span,
.profile .text-div .phone span {
  margin-left: 0.5rem;
  font-size: 1.125rem;
  color: #4f4f4f;
}

.profile .text-div .about {
  margin-top: 2rem;
}

@media (max-width: 720px) {
  .profile .text-div .about {
    margin-top: 0rem;
  }
}

.profile .text-div .about .about-text {
  margin-top: 1rem;
  font-size: 1.125rem;
  color: #828282;
}

@media (max-width: 720px) {
  .profile .text-div .about .about-text:last-child {
    display: none;
  }
}

.skills {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
}

@media (max-width: 720px) {
  .skills {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 500px) {
  .skills {
    max-width: 320px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.skills h2 {
  font-weight: 700;
  color: #4f4f4f;
  font-size: 1.125rem;
}

.skills .progress-area {
  margin: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills .progress-area p {
  font-size: 1rem;
  color: #4f4f4f;
  min-width: 120px;
}

.skills .progress-area .progress-bar {
  min-width: 140px;
  height: 5px;
  background-color: #e0e0e0;
  border-radius: 1rem;
  margin-left: auto;
  position: relative;
}

.skills .progress-area .progress-bar::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 5px;
  background-color: #2f80ed;
  z-index: 1;
  border-radius: 1rem;
}

.skills .react .progress-bar::before {
  width: 100px;
}

.skills .js .progress-bar::before {
  width: 120px;
}

.skills .css .progress-bar::before {
  width: 130px;
}

.skills .vue .progress-bar::before {
  width: 100px;
}

.skills .redux .progress-bar::before {
  width: 110px;
}

.skills .native .progress-bar::before {
  width: 120px;
}

.skills .figma .progress-bar::before {
  width: 100px;
}

.skills .adobe .progress-bar::before {
  width: 60px;
}

.skills .design {
  margin-top: 3rem;
}

@media (max-width: 720px) {
  .skills .design {
    margin-top: 0;
  }
}

@media (max-width: 580px) {
  .skills .design .progress-area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 500px) {
  .skills .design {
    margin-top: 1.5rem;
  }
  .skills .design .progress-area {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.blogs {
  -ms-grid-column: 6;
  -ms-grid-column-span: 7;
  grid-column: 6/13;
  -ms-grid-row: 2;
  -ms-grid-row-span: 5;
  grid-row: 2/7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

@media (max-width: 720px) {
  .blogs {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    grid-row: 5/7;
  }
}

@media (max-width: 500px) {
  .blogs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 5;
    -ms-grid-row-span: 3;
    grid-row: 5 / 8;
    min-height: 600px;
    max-width: 320px;
  }
}

.blogs .body {
  width: 50%;
  min-height: 310px;
}

@media (max-width: 720px) {
  .blogs .body {
    width: 100%;
  }
}

.blogs .body .txt {
  max-width: 170px;
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #333333;
  line-height: 2rem;
}

@media (max-width: 720px) {
  .blogs .body .txt {
    max-width: 100%;
  }
}

.blogs .img {
  min-width: 50%;
  height: 100%;
  margin: 0rem -2rem 0rem 1rem;
  background-image: url(../assets/img/blog-image-sm.jpg);
  background-size: cover;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

@media (max-width: 500px) {
  .blogs .img {
    min-width: 100%;
    margin: 0;
    border-radius: 1rem;
    height: 280px;
  }
}

.blogs .faint-txt {
  font-size: 1rem;
  color: #e0e0e0;
}

.blogs .blog-txt {
  margin: 1rem 0;
  font-size: 1rem;
  color: #828282;
  max-width: 100%;
  line-height: 1.2rem;
}

@media (max-width: 720px) {
  .blogs .blog-txt {
    max-width: 100%;
  }
}

.blogs .blue-txt {
  font-size: 1rem;
  color: #2f80ed;
}

.hobbies {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  -ms-grid-row: 5;
  -ms-grid-row-span: 8;
  grid-row: 5/13;
}

@media (max-width: 720px) {
  .hobbies {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 7;
    -ms-grid-row-span: 3;
    grid-row: 7/10;
  }
}

@media (max-width: 500px) {
  .hobbies {
    max-width: 320px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 8;
    -ms-grid-row-span: 2;
    grid-row: 8/10;
  }
}

.hobbies h2 {
  font-size: 1.5rem;
  color: #4f4f4f;
  margin-bottom: 1.5rem;
}

@media (max-width: 720px) {
  .hobbies .hobs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 500px) {
  .hobbies .hobs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.hobbies .hobs .hobby-sec {
  margin: 1.5rem 0;
}

@media (max-width: 720px) {
  .hobbies .hobs .hobby-sec {
    margin: 1rem 1rem 1rem 0;
  }
}

.hobbies .hobs .hobby-sec .img {
  width: 100%;
  height: 140px;
  border-radius: 1rem;
}

.hobbies .hobs .hobby-sec .img-1 {
  background-image: url(../assets/img/gaming.jpg);
  background-size: cover;
}

.hobbies .hobs .hobby-sec .img-2 {
  background-image: url(../assets/img/cooking.jpg);
  background-size: cover;
}

.hobbies .hobs .hobby-sec .img-3 {
  background-image: url(../assets/img/biking.jpg);
  background-size: cover;
}

.hobbies .hobs .hobby-sec h3 {
  font-size: 1.125rem;
  color: #333333;
  margin: 1rem 0;
}

.hobbies .hobs .hobby-sec p {
  color: #828282;
  font-size: 1rem;
}

@media (max-width: 720px) {
  .hobbies .hobs .hobby-sec:last-child {
    margin-right: 0;
  }
}

.experiences {
  -ms-grid-column: 6;
  -ms-grid-column-span: 7;
  grid-column: 6/13;
  -ms-grid-row: 7;
  -ms-grid-row-span: 6;
  grid-row: 7/13;
}

@media (max-width: 720px) {
  .experiences {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 10;
    -ms-grid-row-span: 3;
    grid-row: 10/13;
  }
}

@media (max-width: 500px) {
  .experiences {
    max-width: 320px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 10;
    -ms-grid-row-span: 3;
    grid-row: 10/13;
  }
}

.experiences h2 {
  font-size: 1.5rem;
  color: #4f4f4f;
  margin-bottom: 1.5rem;
}

.experiences .exp-sec {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 500px) {
  .experiences .exp-sec {
    margin: 2rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.experiences .exp-sec img {
  max-width: 90px;
  height: 70px;
  margin-right: 2rem;
}

@media (max-width: 500px) {
  .experiences .exp-sec img {
    margin-bottom: 2rem;
  }
}

.experiences .exp-sec .exp-txt .date {
  font-size: 0.875;
  color: #828282;
  margin-bottom: 0.8rem;
}

.experiences .exp-sec .exp-txt h3 {
  color: black;
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.experiences .exp-sec .exp-txt p {
  font-size: 1.125rem;
  color: #4f4f4f;
}

.project-bar {
  margin-top: 1.5rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

@media (max-width: 720px) {
  .project-bar {
    min-width: calc(100vw - 2rem);
  }
}

@media (max-width: 500px) {
  .project-bar {
    min-width: calc(100vw - 2rem);
    margin: 1.5rem auto;
  }
}

.project-bar h2 {
  font-size: 1.125rem;
  color: #4f4f4f;
  margin-bottom: 1rem;
}

.project-bar .tags {
  margin-bottom: 1rem;
}

.project-bar .tags span {
  margin-right: auto;
  padding: 0.3rem 0.6rem;
  border: 1px solid #828282;
  border-radius: 1rem;
  color: #333333;
  font-size: 0.875;
  cursor: pointer;
}

.project-bar .tags span:hover {
  color: white;
  background-color: #2f80ed;
  border: 1px solid #2f80ed;
}

.pro-con {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 810px) {
  .pro-con {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 720px) {
  .pro-con {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.pro-con .projects {
  margin-right: 1.5rem;
}

@media (max-width: 810px) {
  .pro-con .projects {
    max-width: 350px;
    margin: 1rem auto;
  }
}

@media (max-width: 720px) {
  .pro-con .projects {
    max-width: 320px;
    margin: 1rem auto;
  }
}

.pro-con .projects img {
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.pro-con .projects .hash-tags {
  margin-bottom: 1.2rem;
}

.pro-con .projects .hash-tags span {
  color: #4f4f4f;
  font-size: 14px;
  margin-right: 0.5rem;
}

.pro-con .projects h2 {
  margin: 1rem 0;
  font-size: 1.5rem;
  color: #4f4f4f;
}

.pro-con .projects p {
  font-size: 1rem;
  color: #828282;
  line-height: 1.5rem;
}

.pro-con .projects .btns {
  margin: 1rem 0;
}

.pro-con .projects .btns button {
  border: 1px solid #2f80ed;
  border-radius: 0.7rem;
  background-color: white;
  padding: 0.6rem 1.7rem;
  color: #2f80ed;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  margin-right: 0.3rem;
}

.pro-con .projects .btns button:first-child {
  background-color: #2f80ed;
  color: white;
}

.pro-con .projects:last-child {
  margin-right: 0rem;
}

@media (max-width: 810px) {
  .pro-con .projects:last-child {
    max-width: 350px;
    margin: 1rem auto;
  }
}

@media (max-width: 720px) {
  .pro-con .projects:last-child {
    margin: 1rem auto;
  }
}

.pagination {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  text-align: right;
}

footer {
  margin: 1rem 0.5rem;
}

footer p {
  text-align: center;
  font-size: 0.875;
}

footer p a {
  color: inherit;
  font-weight: 700;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */