*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  background-color: $bg;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.main {
  margin: 2rem 0.5rem;
  display: grid;
  // grid-template-rows: repeat(12, 1fr); //need to find how to make this work without moving things way
  grid-template-columns: repeat(12, 1fr);
}

.footer {
  margin: 1rem 0.5rem;
}
.card {
  background-color: $c-bg;
  border-radius: 12px;
}
