.project-bar {
  margin-top: 1.5rem;
  grid-column: 1/4;
  grid-row: 1/2;
  @media (max-width: 720px) {
    min-width: calc(100vw - 2rem);
  }

  @media (max-width: 500px) {
    min-width: calc(100vw - 2rem);
    margin: 1.5rem auto;
  }

  h2 {
    font-size: $md-txt;
    color: $gray2;
    margin-bottom: 1rem;
  }
  .tags {
    margin-bottom: 1rem;
    span {
      margin-right: auto;
      padding: 0.3rem 0.6rem;
      border: 1px solid $gray3;
      border-radius: 1rem;
      color: $gray1;
      font-size: $sm-txt;
      cursor: pointer;
    }
    span:hover {
      color: white;
      background-color: $blue;
      border: 1px solid $blue;
    }
    .act {
      color: white;
      background-color: $blue;
      border: 1px solid $blue;
    }
  }
}

.pro-con {
  grid-column: 1/4;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 810px) {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 720px) {
    flex-direction: column;
    justify-content: center;
  }

  .projects {
    margin-right: 1.5rem;
    @media (max-width: 810px) {
      max-width: 350px;
      margin: 1rem auto;
    }
    @media (max-width: 720px) {
      max-width: 320px;
      margin: 1rem auto;
    }

    img {
      border-radius: 1rem;
      margin-bottom: 1rem;
    }
    .hash-tags {
      margin-bottom: 1.2rem;
      span {
        color: $gray2;
        font-size: 14px;
        margin-right: 0.5rem;
      }
    }
    h2 {
      margin: 1rem 0;
      font-size: $big-txt;
      color: $gray2;
    }
    p {
      font-size: 1rem;
      color: $gray3;
      line-height: 1.5rem;
    }
    .btns {
      margin: 1rem 0;

      button {
        border: 1px solid $blue;
        border-radius: 0.7rem;
        background-color: white;
        padding: 0.6rem 1.7rem;
        color: $blue;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        margin-right: 0.3rem;
      }
      button:first-child {
        background-color: $blue;
        color: white;
      }
    }
  }
  .projects:last-child {
    margin-right: 0rem;
    @media (max-width: 810px) {
      max-width: 350px;
      margin: 1rem auto;
    }
    @media (max-width: 720px) {
      max-width: 320px;
      margin: 1rem auto;
    }
  }
}

.pagination {
  grid-column: 1/4;
  grid-row: 3/4;
  text-align: right;

  @media (max-width: 720px) {
    max-width: 320px;
    margin: 0 auto;
  }

  span {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid $gray3;
    padding: 10px;
    border-radius: 5px;
    margin: 0.5rem;
    font-weight: 700;
    background-color: white;
    cursor: pointer;
  }
  .act {
    background-color: $blue;
    color: white;
    border: 1px solid $blue;
  }
  .no {
    border: none;
  }
  span:hover {
    background-color: $blue;
    color: white;
    border: 1px solid $blue;
  }
  @media (max-width: 720px) {
    span {
      width: 30px;
      height: 30px;
      padding: 5px;
      border-radius: 5px;
      margin: 0.1rem;
    }
  }
}
