// IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// COLORS
$bg: rgba(242, 242, 242, 1);
$c-bg: rgba(255, 255, 255, 1);
$gray1: rgba(51, 51, 51, 1);
$gray2: rgba(79, 79, 79, 1);
$gray3: rgba(130, 130, 130, 1);
$gary4: rgba(224, 224, 224, 1);
$blue: rgba(47, 128, 237, 1);

// FONT-SIZE
$big-txt: 1.5rem; //24px
$md-txt: 1.125rem; // 18px
$s-md-txt: 1rem; // 16px
$sm-txt: 0.875; //14px
